<h1>Hi, {{ ahoy }}! Thank you for contacting me!</h1>

<p>
    I will read your project requirements and respond you in 2 work days.
</p>
<p>
    Your request id is #{{ orderId }}
</p>

<p>
    Best regards,
    <br>
    Senior Software Engineer,
    <br>
    Vladyslav Drybas
</p>
