{% extends 'components/header/base.html.twig' %}


{% block headerNavigation %}
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            <a class="nav-link active" href="">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ absolute_url(path('cp_document_board' )) }}">Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ absolute_url(path('cp_job_board' )) }}">Jobs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="">Applications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="">Goals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="">Hall of Fame</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="">Benefits</a>
        </li>
    </ul>
{% endblock %}
