<!-- Header Section -->
<header id="header" class="header bg-light">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">

            <a class="navbar-brand" href="{{ absolute_url(path('cp_user_show', {'user': user.username})) }}">Panel</a>

            <div class="collapse navbar-collapse" id="headerNavbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                </ul>
                {% include 'components/header/login-buttons.html.twig' %}
            </div>

        </div>
    </nav>
</header>
