{% if actions is defined and actions|length > 0 %}
<div
    class="d-none d-sm-flex flex-row justify-content-center align-items-center px-0 mx-0"
>
    {% for action in actions %}
        <a
            href="{{ action.link }}"
            class="btn btn-primary rounded-0 {% if loop.index != 1 %}ms-2{% endif %}"
            role="button"
        >
            {{ action.title }}
        </a>
    {% endfor %}
</div>
{% endif %}
