{% if actions is defined and actions|length > 0 %}
<nav
    id="section--edit-sidebar-nav"
    class=" action-btn-nav sidebar center left position-fixed d-none d-sm-flex d-flex flex-column justify-content-start align-items-start"
>
    {% for action in actions %}
        <a
            href="{{ action.link }}"
            class="btn btn-primary {% if loop.index == 1 %}bg-primary-hover{% endif %} rounded-0 mb-2 position-relative"
            role="button"
        >
            {{ action.title }}
        </a>
    {% endfor %}
</nav>

<nav
    id="section--edit-bottom-nav"
    class="action-btn-nav bottom left d-sm-none position-fixed d-flex flex-row justify-content-between align-items-center bg-light px-2"
>
    {% for action in actions %}
        <a
            href="{{ action.link }}"
            class="btn btn-primary rounded-0 position-relative"
            role="button"
        >
            {{ action.title }}
        </a>
    {% endfor %}
</nav>>
{% endif %}
