{% extends 'control-panel/index.html.twig'%}

{% block headstylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('bs-brain-timeline-7.css?t=' ~ 'now'|date('Y-m-d-H-i-s'), 'css')) }}">
{% endblock %}

{% block content %}
<div class="container bg-light">
    <div
        class="
            d-flex
            flex-row
            justify-content-start
            align-items-baseline
        "
    >
        interview question
    </div>
</div>
{% endblock %}
