<section class="faq-section">
    <div class="container single-col-max-width">
        <h3 class="text-center mb-4">FAQs</h3>
        <div class="text-center mb-5">You can use this section to address any queries your potential clients may have.</div>
        <div id="faq-accordion" class="faq-accordion accordion mx-auto text-start">

            <div class="accordion-item mb-3 rounded">
                <h2 class="accordion-header border-0 px-4 py-3 rounded theme-bg-light" id="faq-heading-1">
                    <button class="accordion-button btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
                        Can you sit amet quam eget lacinia?
                    </button>
                </h2>
                <div id="faq1" class="accordion-collapse border-0 collapse" aria-labelledby="faq-heading-1" style="">
                    <div class="accordion-body text-start">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                </div>
            </div><!--//accordion-item-->

            <div class="accordion-item mb-3 rounded">
                <h2 class="accordion-header border-0 px-4 py-3 rounded theme-bg-light" id="faq-heading-2">
                    <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                        What is the ipsum dolor sit amet quam tortor?
                    </button>
                </h2>
                <div id="faq2" class="accordion-collapse collapse border-0" aria-labelledby="faq-heading-2">
                    <div class="accordion-body text-start">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                </div>
            </div><!--//accordion-item-->

            <div class="accordion-item mb-3 rounded">
                <h2 class="accordion-header border-0 px-4 py-3 rounded theme-bg-light" id="faq-heading-3">
                    <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                        What if ultricies nec vulputate eget?
                    </button>
                </h2>
                <div id="faq3" class="accordion-collapse collapse border-0" aria-labelledby="faq-heading-3">
                    <div class="accordion-body text-start">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                </div>
            </div><!--//accordion-item-->

            <div class="accordion-item mb-3 rounded">
                <h2 class="accordion-header border-0 px-4 py-3 rounded theme-bg-light" id="faq-heading-4">
                    <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                        Is it possible to tellus eget auctor condimentum?
                    </button>
                </h2>
                <div id="faq4" class="accordion-collapse collapse border-0" aria-labelledby="faq-heading-4">
                    <div class="accordion-body text-start">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                </div>
            </div><!--//accordion-item-->

            <div class="accordion-item mb-3 rounded">
                <h2 class="accordion-header border-0 px-4 py-3 rounded theme-bg-light" id="faq-heading-5">
                    <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                        Do you elementum turpis semper imperdiet?
                    </button>
                </h2>
                <div id="faq5" class="accordion-collapse collapse border-0" aria-labelledby="faq-heading-5">
                    <div class="accordion-body text-start">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                </div>
            </div><!--//accordion-item-->

            <div class="accordion-item mb-3 rounded">
                <h2 class="accordion-header border-0 px-4 py-3 rounded theme-bg-light" id="faq-heading-6">
                    <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="faq6">
                        How much imperdiet lorem sem non nisl?
                    </button>
                </h2>
                <div id="faq6" class="accordion-collapse collapse border-0" aria-labelledby="faq-heading-6">
                    <div class="accordion-body text-start">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                </div>
            </div><!--//accordion-item-->

            <div class="accordion-item mb-3 rounded">
                <h2 class="accordion-header border-0 px-4 py-3 rounded theme-bg-light" id="faq-heading-7">
                    <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="false" aria-controls="faq7">
                        How long does it take to imperdiet lorem sem non nisl?
                    </button>
                </h2>
                <div id="faq7" class="accordion-collapse collapse border-0" aria-labelledby="faq-heading-7">
                    <div class="accordion-body text-start">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                </div>
            </div><!--//accordion-item-->

            <div class="accordion-item mb-3 rounded">
                <h2 class="accordion-header border-0 px-4 py-3 rounded theme-bg-light" id="faq-heading-8">
                    <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faq8" aria-expanded="false" aria-controls="faq8">
                        Where can I imperdiet lorem sem non nisl?
                    </button>
                </h2>
                <div id="faq8" class="accordion-collapse collapse border-0" aria-labelledby="faq-heading-8">
                    <div class="accordion-body text-start">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                </div>
            </div><!--//accordion-item-->

            <div class="accordion-item mb-3 rounded">
                <h2 class="accordion-header border-0 px-4 py-3 rounded theme-bg-light" id="faq-heading-9">
                    <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faq9" aria-expanded="false" aria-controls="faq9">
                        When can lacinia ac dui ut semper?
                    </button>
                </h2>
                <div id="faq9" class="accordion-collapse collapse border-0" aria-labelledby="faq-heading-9">
                    <div class="accordion-body text-start">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                </div>
            </div><!--//accordion-item-->


        </div><!--//faq-accordion-->
    </div><!--//container-->
</section>
