{% extends 'admin-panel/index.html.twig'%}

{% block content %}
    <div class="container pt-5 text-white">
        <div class="row">
            admin panel dashboard
        </div>
    </div>
{% endblock %}
