{% extends 'base.html.twig'%}

{% block headstylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('style-cp.css?t=' ~ 'now'|date('Y-m-d-H-i') , 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('style-ap.css?t=' ~ 'now'|date('Y-m-d-H-i') , 'css')) }}">
{% endblock %}

{% block header %}
    {% include 'admin-panel/header.html.twig' %}
{% endblock %}

{% block content %}
    <div class="bg-gradient-primary min-vh-100 pt-5">
        <div class="container pt-5 text-white">
            <div class="row">
                admin panel
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id="footer" class="footer pt-5">
    </div>
{% endblock %}
