{% extends 'base.html.twig'%}

{% block headstylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('datatables.min.css' , 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('style-ap.css?t=' ~ 'now'|date('Y-m-d-H-i') , 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('style-ap.css?t=' ~ 'now'|date('Y-m-d-H-i') , 'css')) }}">
    <style>
        #page-wrapper {
            justify-content: flex-start !important;
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'admin-panel/header.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container pt-5 text-white">
        <div class="row">
            admin panel
        </div>
    </div>
{% endblock %}

{% block scriptsbottom %}
    <script src="{{ absolute_url(asset('datatables.min.js', 'js')) }}"></script>
{% endblock %}
