{% extends 'components/header/base.html.twig' %}

{% block headerNavigation %}
    <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
    <a href="/" class="btn btn-outline-dark rounded-0 ms-1">Back</a>
{% endblock %}
