<!-- Header Section -->
<header id="header" class="header z-3">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container justify-content-center">

            <a class="navbar-brand" href="/">Vladyslav Drybas</a>

            <form
                class="
                col-lg-6
                mx-auto
            "
            >
                <div class="d-flex flex-column flex-sm-row gap-2">

                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control rounded-0" placeholder="Email address">

                    <button
                        class="btn btn-outline-dark rounded-0 text-nowrap"
                        type="button"
                    >
                        Contact Me
                    </button>
                </div>
            </form>

        </div>
    </nav>
</header>
