<!-- Header Section -->
<header id="header" class="header fixed-top z-3">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">

            <a class="navbar-brand" href="/">Resume AI</a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#headerNavbarCollapse"
                aria-controls="headerNavbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="headerNavbarCollapse">

                {% if routeCurrent starts with 'cp_' %}
                    {% include 'components/header/navigaton-control-panel.html.twig' %}
                {% else %}
                    {% include 'components/header/navigation-homepage.html.twig' %}
                {% endif %}

                {% include 'components/header/login-buttons.html.twig' %}
            </div>

        </div>
    </nav>
</header>
