<!-- Header Section -->
<header id="header" class="header z-3">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container justify-content-center">

{#            <a class="navbar-brand" href="/">Vladyslav Drybas</a>#}

            <form
                class="
                    py-5
                "
            >
{#                <h5>Subscribe to our newsletter</h5>#}
{#                <p>Monthly digest of what's new and exciting from us.</p>#}

                <div class="d-flex flex-column flex-sm-row w-100 gap-2">

                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">

                    <button
                        class="btn btn-outline-dark rounded-0 text-nowrap"
                        type="button"
                    >
                        Strengthen My Team
                    </button>
                </div>
            </form>

        </div>
    </nav>
</header>
