{% extends 'base.html.twig'%}

{% block content %}
<div
    id="section--hero"
    class="p-2 p-lg-5 text-center container d-flex flex-column justify-content-between"
>

    <div
        class="
            col-lg-6
            text-bold
            mx-auto
            py-3
            pt-0
            pb-lg-5
            display-5
        "
    >
        <h2 class="display-6 fw-bold text-body-emphasis">Senior Software Engineer</h2>
        <div
            class="line-roller"
            data-context="Deploy,Design,Develop"
        >
            Develop
        </div>
    </div>

    <div>
        <div
            id="hero-avatar"
            class="
                mx-auto
            "
        >
            <img
                width="100%"
                height="100%"
                class="d-block mx-auto mb-4"
                src="{{ absolute_url(asset('avatar/me.jpeg', 'img')) }}"
                title="Vladyslav Drybas"
                alt=""
            >
        </div>

        <h1 class="display-5 fw-bold text-body-emphasis">Vladyslav Drybas</h1>
    </div>

    <div
        class="
            display-5
            mx-auto
            py-3
            pt-lg-5

        "
    >
        Boost your business<br>
        with a professional<br>
        <div style="min-height: 8rem;">
            <div class="line-roller display-4 text-uppercase" data-context="Web <span class='text-primary'>Api<span>,<span class='text-primary'>Ai</span> Integration,<span class='text-primary'>S</span>ingle <span class='text-primary'>P</span>age <span class='text-primary'>A</span>pplication,Chat <span class='text-primary'>Bot</span>,Browser <span class='text-primary'>Extension</span>,Site <span class='text-primary'>Plugin</span>,<span class='text-primary'>S</span>aa<span class='text-primary'>S</span>,Web <span class='text-primary'>Site</span>">Web <span class='text-primary'>Site</span></div>
        </div>
    </div>

    <div class="col-lg-6 mx-auto pb-5 mb-5">
{#        <p class="lead mb-4">#}
{#            <b>Start Work Together</b>#}
{#            <br>with experienced Senior Software Engineer with a passion for scalable, robust solutions and over a decade of industry expertise.#}
{#            <br>Get stable continuous development by cooperation with me.#}
{#        </p>#}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a
                type="button"
                class="btn btn-primary btn-lg px-4 rounded-0"
                href="mailto: vlad.drybas@gmail.com"
                data-bs-toggle="modal"
                data-bs-target="#widget--hire-form-main-modal"
            >
                Request Call Back
                {#                    request consultation#}
            </a>
            <a
                href="{{ absolute_url(path('app_resume_show')) }}"
                type="button"
                class="btn btn-outline-dark btn-lg px-4 gap-3 rounded-0"
            >
{#                Experience#}
                Resume
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
