{% extends 'control-panel/index.html.twig'%}

{% block content %}
<div class="container-fluid container-lg bg-light">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8" style="min-width: 300px;">
            {% include 'control-panel/job/template/base.html.twig' %}

            <hr class="mb-3">
            {% include 'control-panel/object-links-navigation-horizontal-only.html.twig' with {'actions': navActions} only %}
        </div>
    </div>
</div>

    {% include 'control-panel/object-links-navigation-with-sidebar.html.twig' with {'actions': navActions} only %}
{% endblock %}
